.header-container {
    background-color: grey;
    font-size: 3rem;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;

    .header-title:hover {
        color: aquamarine;
    }

    .header-todo-button:hover {
        color: aquamarine;
    }
}
